rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    match /vendor-assets/{vendorId}/{fileName} {
      allow read: if true;
      allow write: if true;
    }

    match /system-assets/{folder}/{fileName} {
      allow read: if true;
      allow write: if true;
    }

    match /system-assets/seigen-commerce/{fileName} {
      allow read: if true;
      allow write: if true;
    }

    match /product-assets/{productId}/{fileName} {
      allow read: if true;
      allow write: if true;
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
